.verify_container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  background-color: #f4f4f4; /* optional: makes your div pop */

  .verify_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  }
}
